<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 多個標籤用逗號分隔，例如: <tt:BoundingBox>,<tt:ColorCluster> -->
    <add key="MetadataXmlFilter" value=""/>
    <!-- 啟用/關閉 事件間隔屏蔽 毫秒-->
    <add key="StartEventTimeout" value="true"/>
    <add key="EventTimeoutInterval" value="500"/>
    <!-- 啟用/關閉 發現物件軌跡記錄-->
    <add key="EnableTrackLogging" value="true"/>
    <!-- 物件軌跡記錄保存秒數-->
    <add key="TrackRetentionSeconds" value="60"/>
  </appSettings>
</configuration>